{{>navbar}}
<div class="userData">
    <div class="card" style="width: 30rem;">
        <img src="{{avatar}}" class="card-img-top" alt="avatar del usuario">
        <div class="card-body">
            <h5 class="card-title">{{ user }} {{ lastname }}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Email: {{ email }}</li>
                <li class="list-group-item"> Direccion: {{ direction }}</li>
                <li class="list-group-item"> Edad: {{ age }}</li>
                <li class="list-group-item"> Telefono: {{ phone }}</li>
            </ul>
        </div>
    </div>
</div> 